
export(Myapp)
export(add)
importFrom(bslib,page_sidebar)
importFrom(bslib,sidebar)
importFrom(ggplot2,aes)
importFrom(ggplot2,geom_point)
importFrom(ggplot2,ggplot)
importFrom(shiny,plotOutput)
importFrom(shiny,renderPlot)
importFrom(shiny,shinyApp)
importFrom(shiny,sliderInput)
